@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}

html,
body {
    overflow-x: hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: url('./Cursor/Cursor_1.svg'), default !important;
}

.__react_modal_image__modal_content {
    background-color: rgba(23, 22, 20, 0.83) !important;
}

.__react_modal_image__header {
    padding-top: 20px !important;
    padding-right: 15px !important;
    background-color: rgba(0, 0, 0, -0.3) !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}

select {
    outline: none;
}

a,
span,
button,
label,
select,
input,
img,
li {
    cursor: url('./Cursor/Cursor_2.svg'), pointer !important;
}

input[type="text"],
textarea {
    cursor: url('./Cursor/Cursor_3.svg'), text !important;
}

.FontNumber {
    font-family: 'Aoboshi One', serif;
}

.PictureLille {
    background-image: url("../assets/Picture/PictureLille.png");
    border-radius: 0px 0px 154px 0px;
    animation: FadeIn 0.5s ease-in-out;
}

.BgHome {
    background-image: url('../assets/Background/BgHome.webp');
    animation: FadeIn 0.5s ease-in-out;
}

.BgServices {
    background-image: url('../assets/Background/BgServices.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgValues {
    background-image: url('../assets/Background/BgValues.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgContactBlur {
    background-image: url('../assets/Background/BgContactBlur.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgValuesBlur {
    background-image: url('../assets/Background/BgValuesBlur.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitleAgency {
    border-radius: 0px 0px 0px 190px;
    background-image: url("../assets/Background/BgTitleAgency.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitleQuote {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Background/BgQuote.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgValuesBlur {
    background-image: url('../assets/Background/BgContactBlur.png');
    animation: FadeIn 0.5s ease-in-out;
    border-radius: 0px 0px 154px 0px;
}

.WireTitle {
    background: rgb(213, 213, 213);
    border-radius: 0px 0px 154px 0px;
    animation: FadeIn 0.5s ease-in-out;
}

.WireTitleHome {
    border-radius: 0px 0px 0px 190px;
    background: rgb(213, 213, 213);
    animation: FadeIn 0.5s ease-in-out;
}

.WireTitleMarketing {
    border-radius: 0px 0px 290px 0px;
    background: rgb(213, 213, 213);
    animation: FadeIn 0.5s ease-in-out;
}

.WireBannier {
    background: lightgray;
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePortfolio {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Picture/PicturePortfolio.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePricing {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Background/BgPricing.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePricingUk {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Background/BgPricingUk.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitleContact {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Background/BgTitleContact.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgServicesMarketing {
    border-radius: 0px 0px 290px 0px;
    background-image: url("../assets/Background/BgServicesMarketing.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgColorFilterForm {
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6.5px);
}

.BgCards {
    background-image: url("../assets/Background/BgCards.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgCardsTwo {
    background-image: url("../assets/Background/BgCardsTwo.png");
    animation: FadeIn 0.5s ease-in-out;
}

.PictureBannierLouisa {
    background-image: url("../assets/Picture/PictureBannierLouisaaa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.PictureBannierMelissa {
    background-image: url("../assets/Picture/PictureBannierMelissa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgSlidePortfolio {
    background-image: url("../assets/Background/BgPortfolioSlide.png");
    animation: FadeIn 0.5s ease-in-out;
}

.MiniBannierMelissa {
    background-image: url("../assets/Picture/MiniBannierMelissa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.FadeInDelayDesktop {
    animation: FadeInDelayDesktop 0.5s ease-in-out;
}

.InputError {
    animation: Shake 0.5s ease-in-out;
}

.AnimationScrolling:first-child {
    padding-right: 2em;
    padding-left: 100%;
    animation: ScrollingRtl 20s infinite linear;
}

.Swing {
    animation: Swing 2s ease infinite;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeInDelayDesktop {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Shake {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes Swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes ScrollingRtl {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

input::placeholder {
    color: #c22e2e;
}