@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}

html,
body {
    overflow-x: hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: url('./Cursor/Cursor_1.svg'), default !important;
}

.__react_modal_image__modal_content {
    background-color: rgba(23, 22, 20, 0.83) !important;
}

.__react_modal_image__header {
    padding-top: 20px !important;
    padding-right: 15px !important;
    background-color: rgba(0, 0, 0, -0.3) !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}

select {
    outline: none;
}

a,
span,
path,
svg,
button,
label,
select,
input,
img,
li {
    cursor: url('./Cursor/Cursor_2.svg'), pointer !important;
}

input[type="text"],
textarea {
    cursor: url('./Cursor/Cursor_3.svg'), text !important;
}

.xs {
    font-size: 8px;
}

.FontNumber {
    font-family: 'Aoboshi One', serif;
}

.PictureBelgique {
    background-image: url("../assets/Picture/PictureBelgique.png");
}

.BgHome {
    background-image: url('../assets/Background/BgHome.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgServices {
    background-image: url('../assets/Background/BgServices.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgValues {
    background-image: url('../assets/Background/BgValues.png');
    animation: FadeIn 0.5s ease-in-out;
}

.BgPatternPortfolio {
    background-image: url('../assets/Picture/Pattern.png');
    background-position: 30% 10%;
}

.BgContactBlur {
    background-image: url('../assets/Background/BgContactBlur.png');
}

.BgValuesBlur {
    background-image: url('../assets/Background/BgValuesBlur.png');
}

.BgTitleAgency {
    border-radius: 0px 0px 0px 190px;
    background: url("../assets/Background/BgTitleAgency.png"), lightgray;
}

.BgTitleQuote {
    border-radius: 0px 0px 182px 0px;
    background: url("../assets/Background/BgQuote.png"), lightgray;
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePortfolio {
    border-radius: 0px 0px 182px 0px;
    background: url("../assets/Picture/PicturePortfolio.png"), lightgray;
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePricing {
    border-radius: 0px 0px 154px 0px;
    background-image: url("../assets/Background/BgPricing.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitlePricingUk {
    border-radius: 0px 0px 182px 0px;
    background: lightgray;
    animation: FadeIn 0.5s ease-in-out;
}

.BgTitleContact {
    border-radius: 0px 0px 0px 181px;
    background: url("../assets/Background/BgTitleContact.png"), lightgray;
}

.BgServicesMarketing {
    border-radius: 0px 0px 290px 0px;
    background: url("../assets/Background/BgServicesMarketing.png"), lightgray;
}

.BgColorFilterForm {
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6.5px);
}

.BgCards {
    background-image: url("../assets/Background/BgCards.png");
}

.BgCardsTwo {
    background-image: url("../assets/Background/BgCardsTwo.png");
}

.PictureBannierLouisa {
    background-image: url("../assets/Picture/PictureBannierLouisaaa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.PictureBannierMelissa {
    background-image: url("../assets/Picture/PictureBannierMelissa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.MiniBannierMelissa {
    background-image: url("../assets/Picture/MiniBannierMelissa.png");
    animation: FadeIn 0.5s ease-in-out;
}

.BgSun {
    width: 248px;
    height: 230px;
    background-image: url("../assets/Svg/BgSun.svg");
}

.FadeInDelayDesktop {
    animation: FadeInDelayDesktop 0.5s ease-in-out;
}

.InputError {
    animation: Shake 0.5s ease-in-out;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeInDelayDesktop {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Shake {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.wobble {
    animation: wobble 2s ease infinite;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.wobble {
    animation: wobble 2s ease infinite;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.swing {
    animation: swing 2s ease infinite;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}