@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    cursor: crosshair;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: crosshair;
}

button {
    cursor: crosshair;
}

::-webkit-scrollbar {
    width: 20px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-image: url("./assets/pattern.png");
}

::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 20px;
    background: #C22E2E;
}

.number {
    font-family: 'Aoboshi One', serif;
}

.z-max {
    z-index: 50 !important;
}

.logo {
    background-image: url("./assets/logo-bit.png");
    height: 40px;
    width: 40px;
}

.image-navi-studio {
    background-image: url('./assets/bg-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    max-width: 100%;
}

.image-navi-studio-n-services {
    background-image: url('./assets/bg-services-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    max-width: 100%;
}

.image-navi-studio-e-services {
    background-image: url('./assets/bg-ethics.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    max-width: 100%;
}

.bg-pattern-portfolio {
    background-image: url('./assets/pattern-portfolio.png');
    background-repeat: no-repeat;
    background-position: left;
}

.star {
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: right;
}

.bg-contact-blur {
    background-image: url('./assets/bg-contact-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-devis-blur {
    background-image: url('./assets/bg-portfolio-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title */
.image-navi-studio-title-agency {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 0px 190px;
    background: url("./assets/bg-title-agency.png"), lightgray -46.697px -768.547px / 106.886% 974.977% no-repeat;
}

.image-navi-studio-title-devis {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-devis.png")
}

.image-navi-studio-title-porfolio {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-portfolio.png")
}

.image-navi-studio-title-contact {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 0px 181px;
    background: url("./assets/bg-title-contact.png"), lightgray -1432.171px -108.115px / 298.913% 133.472% no-repeat;
}


.image-navi-studio-service {
    height: auto;
    display: block;
    max-width: 100%;
    padding-bottom: 50px;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-services-marketing.png"), lightgray -9px -327.869px / 127.649% 272.306% no-repeat;
}

.image-navi-studio-porfolio {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-portfolio.png")
}

.animate-rotate {
    animation: rotateAnimation 0.5s ease-in-out forwards;
}

.bg-contact {
    border-radius: 56px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6.5px);
}

.btn-contact-rel {
    position: relative;
    right: 450px;
    top: 80px;
}

.bg-services-2 {
    background-image: url("./assets/homeservices2.png");
}

.animation-scrolling-rtl {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: scrolling-rtl 20s infinite linear;
}

@keyframes scrolling-rtl {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}