@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://db.onlinewebfonts.com/c/776348cc945339041ca98b13f4e7b43b?family=Gexo+Sans+Bold');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    cursor: url('./Cursor/Cursor_1.svg'), default !important;
}

select {
    outline: none;
    background-color: #FFF6E4;
}

a,
span,
path,
svg,
button,
label,
select,
img,
li {
    cursor: url('./Cursor/Cursor_2.svg'), pointer !important;
}

input[type="text"],
label,
input,
textarea {
    cursor: url('./Cursor/Cursor_3.svg'), text !important;
}

.test {
    border-image: url('./assets/pattern-portfolio.png') 10;
    border-width: 0 0 0 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-image: url("./assets/pattern.png");
}

::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 20px;
    background: #C22E2E;
}

.xs {
    font-size: 8px;
}

.number {
    font-family: 'Aoboshi One', serif;
}

.z-max {
    z-index: 50 !important;
}

.logo {
    background-image: url("./assets/logo-bit.png");
    height: 40px;
    width: 40px;
}

.image-navi-studio-home {
    background-image: url('./assets/bg-home-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.image-navi-studio-navbar-services {
    background-image: url('./assets/bg-home-services.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    max-width: 100%;
}

.image-navi-studio-navbar-ethics {
    background-image: url('./assets/bg-ethics.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    max-width: 100%;
}

.bg-pattern-portfolio {
    background-image: url('./assets/pattern-portfolio.png');
    background-repeat: no-repeat;
    background-position: left;
}

.star {
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: right;
}

/* Blur */

.bg-contact-blur {
    background-image: url('./assets/bg-contact-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-services-blur {
    background-image: url('./assets/bg-home-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-devis-blur {
    background-image: url('./assets/bg-portfolio-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-ethics-blur {
    background-image: url('./assets/bg-ethics-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title */
.image-navi-studio-title-agency {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 0px 190px;
    background: url("./assets/bg-title-agency.png"), lightgray -46.697px -768.547px / 106.886% 974.977% no-repeat;
}

.image-navi-studio-title-devis {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-devis.png")
}

.image-navi-studio-title-porfolio {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-portfolio.png")
}

.image-navi-studio-title-rate {
    height: auto;
    display: block;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 154px 0px;
    background-image: url("./assets/bg-rate.png")
}

.image-navi-studio-title-contact {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 0px 181px;
    background: url("./assets/bg-title-contact.png"), lightgray -1432.171px -108.115px / 298.913% 133.472% no-repeat;
}

.image-navi-studio-marketing-services {
    height: auto;
    display: block;
    max-width: 100%;
    padding-bottom: 50px;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-services-marketing.png"), lightgray -9px -327.869px / 127.649% 272.306% no-repeat;
}

.image-navi-studio-porfolio {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 0px 0px 290px 0px;
    background: url("./assets/bg-portfolio.png")
}

/* BG FORM */
.bg-contact {
    border-radius: 56px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6.5px);
}

.animate-rotate {
    animation: rotateAnimation 0.5s ease-in-out forwards;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-scrolling-rtl {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    animation: scrolling-rtl 20s infinite linear;
}

@keyframes scrolling-rtl {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

/* CARDS SERVICES */
.bg-cards {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/bg-cards.png");
}

.bg-cards-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/bg-cards-2.png");
}

/* BANNIER */
.picture-bannier-louisa {
    height: auto;
    display: block;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/picture-bannier-louisa.png")
}

.picture-bannier-melissa {
    height: auto;
    display: block;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/picture-bannier-melissa.png")
}

.p {

    width: 248px;
    height: 230px;
    background-repeat: no-repeat;
    background-image: url("./assets/bg-sun-r.svg");
}

.z {
    width: 248px;
    height: 230px;
    background-repeat: no-repeat;
    background-image: url("./assets/bg-sun-v.svg");
}

.input-error {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}